<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Request Header Parser</title>
</head>
<body>
    
<div class="container">

    <h2>API PROJECT: Request Header Parser Microservices</h2>
    <hr>

    <h3>URL Example</h3>
    
    <p>
        <a href="api/hello">[baseurl]/api/hello</a>
    </p>
    
    <h3>An Example output</h3>

    <p>Know about me, and receive a warm welcome</p>

    <h3>URL Example</h3>

    <p>
        <a href="api/mydetails">[base url]/api/mydetails</a>
    </p>

    <h3>An Example output</h3>

    <p>
        <code>
            {"ipaddress":"::ffff:159.20.14.100",<br>
            "language":"en-US,en;q=0.5",<br>
            "browser_info":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"
            "country":"name of the country"
            "city": "name of your city"}
        </code>
    </p>


    <footer>
        <p>Project By : Tamal Sen <a rel= "noopener noreferrer" href="https://github.com/tamalsen2509/header_parser_node.js" target="_blank">Source Code</a></p>
        

    </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>